<main class="w-full bg-bgPrimary h-screen absolute top-0 left-0 flex justify-center items-center">
    <section class="w-9/12 md:w-full md:px-32 flex flex-col gap-10 items-center">
        <div class="flex flex-col md:flex-row gap-5 justify-center items-center">
            <h1 class="font-bold text-bigTitle text-secundary">Seleccionar vista</h1>
        </div>
        <div class="md:w-9/12 2xl:w-1/2 text-small md:text-base flex flex-col gap-5 ">
            <p>  
                Esta es una versión demo del aplicativo que te permite explorar algunas de sus funcionalidades 
                y tener una visión de cómo funcionará una vez que se lance oficialmente. Para una experiencia más 
                completa, puedes seleccionar el tipo de perfil que deseas visualizar y explorar ampliamente.
            </p>
        </div>

        <div class="flex w-full md:w-9/12 2xl:w-8/12 flex-col md:flex-row text-small justify-center gap-5">
            <btn-primary class="md:w-1/4 2xl:w-1/5"  routerLink="/tenantLayout" text="Inquilino" />
            <btn-primary class="md:w-1/4 2xl:w-1/5"  routerLink="/caretakerLayout" text="Cuidador" />
        </div>
    </section>
</main>
