<div class="flex flex-col md:flex-row md:min-w-min md:w-1/2 md:items-center gap-5 md:gap-10 rounded-2xl bg-bgPrimary p-5 overflow-auto">
    <span class="text-base text-bgSecundary font-semibold">Aplicar filtros: </span>
    <select 
        #SelectPet 
        class="text-small p-2 bg-bgGeneric rounded-md"
        (change)="filterByCaretaker()"
    >
        <option disabled selected value=""> Nombre del cuidador</option>
        <option 
            *ngFor="let option of schedulings$ | async" 
            [value]="option.name"
        >
        {{ option.name }}
        </option>
    </select>
    <inpt-custom (onValue)="filterByDate($event)" type="date" />
    <btn-refresh (click)="resetData()" />
</div>
