<div class="flex flex-col items-center bg-bgPrimary p-10 rounded-3xl">
    <img 
        class="rounded-full" 
        [src]="'923615e8-fbc1-4511-97be-2952944a6445' | profileImg" 
        width="133" 
        alt=""
    />
    <h2 class="font-semibold text-normal mt-10">María Giraldo</h2>
    <span class="text-bgSecundary text-small" >16 años</span>
    <span class="text-bgSecundary text-small" >Estudiante</span>
    <star-box [count]="5" />
    <btn-ghost class="mt-10" text="Ver Perfil"  />
</div>
