<main class="contain flex flex-col gap-10 pb-10 md:p-0">
    <div class="w-full flex flex-col md:flex-row gap-10 md:gap-0 items-center justify-between mt-20">
        <img 
            class="w-10/12 h-10/12 md:w-1/2 md:h-imgCover object-cover rounded-full md:rounded-maxFull" 
            src="/assets/perrito-gretting.jpg" 
            alt="perrito-whowheare"
        />
        <section class="w-full md:w-1/2 flex flex-col gap-5  items-center">
            <div class="w-5/6 flex flex-col">
                <h1 class="font-bold text-bigTitle text-bgSecundary">¿Quienes somos?</h1>
                <h2 class="text-title text-primary font-bold"> 
                    PetWalk
                </h2>
            </div>
            <div class="w-5/6 flex flex-col items-end gap-5">
                <p class="text-small md:text-base text-bgSecundary ">
                    En PetWalk, somos un equipo apasionado y comprometido en proporcionar una solución 
                    conveniente para los inquilinos de conjuntos residenciales que desean brindarles a 
                    sus mascotas los paseos que merecen, incluso cuando no tienen tiempo disponible. 
                    Entendemos la importancia de asegurarse de que las mascotas reciban el ejercicio y 
                    la atención adecuados para mantenerse felices y saludables.
                </p>
                <p class="text-small md:text-base text-bgSecundary">
                    Nuestra aplicación conecta a los inquilinos con jóvenes entusiastas y responsables 
                    que están dispuestos a sacar a pasear a las mascotas en horarios que se ajusten a la 
                    disponibilidad de los dueños. Nos aseguramos de que cada joven paseador sea confiable y 
                    amante de los animales, brindando tranquilidad a los inquilinos al saber que sus mascotas 
                    están en buenas manos.
                </p>
            </div>
        </section>
    </div>

    <div class="flex w-full justify-end">
        <btn-back route="/" />
    </div>

</main>