<main class="contain flex flex-col gap-5 justify-center items-center pt-10 md:pt-0" >
    <section class="flex">
        <img 
            class="hidden md:block object-cover w-loginElements rounded-l-3xl"  
            src="/assets/perrito-login.jpg" 
            alt="dog-image"
        /> 
        <login-form />
        <div class="fixed bottom-0 left-0 p-2 m-4 bg-zinc-800 text-white rounded-lg">
            <div class="text-small">
                <h1 class="font-semibold">Credenciales de prueba</h1>
                <p>Username: demo</p>
                <p>Password: demo</p>
            </div>
        </div>

    </section>
    <div class="flex w-full justify-end">
        <btn-back route="/" />
    </div>
</main>
