<section class=" bg-bgPrimary w-full md:min-h-layout-offer rounded-2xl p-10">
    <h2 class="font-semibold mb-5">Crear Oferta</h2>
    <form class="flex flex-col gap-5 ">
        <inpt-custom [disabled]="true" type="text" placeholder="Nombre de la mascota" />
        <inpt-custom [disabled]="true" type="text" placeholder="Raza de la mascota" />
        <div class="w-full flex gap-5">
            <inpt-custom [disabled]="true" class="w-full" type="date" />
            <inpt-number [disabled]="true"class="w-full" placeholder="Pago por hora" />
        </div>
       <div class="flex gap-5">
            <inpt-custom [disabled]="true" class="w-full" type="time" />
            <inpt-custom [disabled]="true" class="w-full"type="time" />
       </div>
       <inpt-text-area [disabled]="true" placeholder="Descripción de la oferta" />
       <div class="flex justify-end">
         <btn-primary type="button" class="w-1/2 md:w-1/2 right-0 " text="Enviar" />
       </div>
    </form>
</section>
