<main class="contain flex h-screen md:h-full flex-col md:flex-row justify-center md:justify-between ">
    <div class="flex flex-col justify-center gap-5 w-full md:w-1/2 leading-10 " >
        <div class="flex flex-col gap-2 md:gap-0">
            <h1 class="w-full 2xl:w-1/2 text-bigTitle font-bold text-bgSecundary">
                Conectando patitas y corazones 
                en cada paseo
            </h1>
            <h2 class="text-title text-primary font-bold"> 
                PetWalk
            </h2>
        </div>
        <btn-ghost 
            [routerLink]="'/public/whowheare'" 
            class=" md:w-1/2 2xl:w-1/4" 
            text="¿Quienes somos?" 
        />
    </div>
    <img 
        width="600" 
        class="ab right-0-0 bottom-0" 
        src="/assets/perrito-home.png" 
        alt="perrito-home" 
    />
</main>
