<main class="w-full h-screen absolute top-0 left-0 flex justify-center items-center">
    <section class="px-32 flex flex-col gap-10 items-center">
        <div class="flex flex-col md:flex-row gap-5 justify-center items-center">
            <img class="w-44" src="/assets/logos/isotipo.png" alt="">
            <h1 class="font-bold text-bigTitle text-secundary">Advertencia!!</h1>
        </div>
        <div class="2xl:w-1/2 text-small md:text-base flex flex-col gap-5 ">
            <p>
                Gracias por registrarte con nosotros. Antes de continuar, queremos validar que seas una persona 
                real, por lo que te pedimos la siguiente información. Ten en cuenta que tus datos serán tratados 
                de manera confidencial y solo utilizados con el propósito de verificar tu identidad y brindarte 
                nuestros servicios de manera segura. Una vez validada la información, se procederá a eliminar 
                tus datos de nuestro sistema para garantizar tu privacidad y confidencialidad.
            </p>
            <p>
                ¿Estás de acuerdo con el tratamiento de tus datos personales según 
                lo establecido en la Ley 1581 del 17 de octubre de 2012?
            </p>
        </div>

        <div class="flex w-full md:w-9/12 2xl:w-8/12 flex-col md:flex-row text-small justify-center gap-5">
            <btn-primary class="md:w-1/4 2xl:w-1/5" (click)="onYes()" text="Estoy de acuerdo" />
            <btn-primary class="md:w-1/4 2xl:w-1/5" (click)="onNo()" text="Cerrar sesión" />
        </div>
    </section>
</main>
