<div class="flex flex-col md:flex-row w-full md:w-1/2 gap-5 md:gap-10 md:items-center  min-w-min  rounded-2xl bg-bgPrimary p-5 overflow-auto">
    <span class="text-base text-bgSecundary font-semibold">Aplicar filtros: </span>
    <select 
        #SelectPet 
        class="text-small p-2 bg-bgGeneric rounded-md"
        (change)="filterbyPet()"
    >
        <option disabled selected value=""> Nombre de la mascota </option>
        <option 
            *ngFor="let option of requests$ | async" 
            [value]="option.petName"
        >
        {{ option.petName }}
        </option>
    </select>
    <inpt-custom (onValue)="filterByDate($event)" type="date" />
    <btn-refresh (click)="resetData()" />
</div>
