<main class="h-screen contain flex ">
    <div class="flex flex-col gap-10 md:gap-0  md:flex-row justify-between w-full mt-10">
        <section class="flex flex-col">
            <div class="flex flex-col gap-5">
                <h1 class="font-bold text-left text-bigTitle text-secundary">
                    ¡Bienvenidos
                </h1>
                <p class="w-4/5 text-small md:text-title md:font-bold">
                    a PetWalk, donde los inquilinos ocupados encuentran a los 
                    paseadores perfectos para sus adorables mascotas!
                </p>
            </div>
            <img 
                class="w-8/12 xl:w-2/5 absolute mt-20 bottom-0 left-0 md:left-10" 
                src="/assets/perrito-register-design.png" 
                alt="perrito-register-design"
            >
        </section>
        <section class="flex h-full flex-col mb-40">
            <register-form class="w-full md:w-formRegister"/>
        </section>  
    </div>
</main>
